<h1>Stocker</h1>

<div class="container">

  <div class="datepicker">
    <%= form_tag("/stocks", method: "get") do %>
      <%= date_field(:stocks_date, :date) %>
      <%= submit_tag("filter!") %>
    <% end %> <br>
  </div>

  <table id="stocks_table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Date</th>
        <th>Predicted Behave</th>
        <th>Actual Behave</th>
      </tr>
    </thead>
    <tbody>
    <%= @stocks.each do |stock| %>
      <tr>
        <td><%=stock[:symbol]%></td>
        <td><%=stock[:name]%></td>
        <td><%=stock[:values][:date]%></td>
        <td><%=render partial: "arrow_image", locals: {:value => stock[:values][:sentimental_grade]}%></td>
        <td><%=render partial: "arrow_image", locals: {:value => (stock[:values][:stock_change])}%></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>


